@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Staatliches&display=swap');

*{
  margin:0;
}

html,
body {
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  background: #F3F3F3;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#particles-js {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.banner {
  position: relative;
  overflow: hidden;
  color: #000;
  height: 100%;
  width: 100%;
}

.banner_content {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.txt-title {
  font: 100% 'Staachliches', cursive;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 15%;
}

.main-text-area {
  background-color: #E6E6E6;
  width: 100%;
  height: auto;
}

.main-text-area h1 {
  font: 100% 'Staachliches', cursive;
  font-size: 2em;
  padding-top: 5%;
  text-align: center;
}

.main-text-area p {
  font: 100% 'Red Hat Display', sans-serif;
  padding: 5%;
  padding-left: 25%;
  padding-right: 25%;
}

@media screen and (max-width: 762px) {
  .main-text-area p {
    padding-left: 2%;
    padding-right: 2%;
  }
  .txt-title {
    margin-top: 50%;
  }
}