.logo{
	margin: 1rem;
}

.primary-header{
	align-items: center;
	justify-content: space-between;
}

.flex{
	display: flex;
	gap: var(--gap, 2rem)
}

.primary-navigation{
	list-style: none;
	padding: 0;
	margin: 0;
}

@media (max-width: 35em){
	.primary-navigation{
		position: fixed;
		inset: 0 0 0 30%;
		background: slateblue;
	}
}