html {
    height: 100%;
    overflow-x: hidden;
}

body {
  background-image: url("Assassins\ creeed\ sub\ background\ desmond.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Red Hat Display', sans-serif;

}

.header {
  font-family: 'Staatliches';
  font-size: 30px;
}

.filler {
  margin-bottom: 500px;
}




img {
  width: 100%;
  height: 100%;
  float: right;
  border:3px solid white;
  
}

table {
  align-self: center;
  width: 90%;
  height: 100%;
  margin: auto;
  border-collapse: collapse;
  border: 2px solid white;
  border-spacing: 0;
  background-color: rgba(0,0,0 .5);
}
tr {
  text-align: center;
  color: white;
}

th {
  border: 2px solid white;
}

td {
  float:left;
  text-align: left;
}